.movie-container{
    border-radius: 10px;
    margin-left: 20px;
    cursor: pointer;

}
.movie-container:hover{

    padding : 10px 10px 10px 10px;
    border:2px solid black;
}
.movie-container:hover .image{
    width: 230px;
    height:180px;

}
.movie-container:hover h6{
    font-size: 20px;

}
.expanded-info{
    display: none;
}
.movie-container:hover .expanded-info{
    display: block;


}
.image{
    transition: width 0.3s ease, height 0.3s ease;
    width: 200px;
    height: 170px;
    border-radius: 15px;
}
.image-description-wrapper{
    
}
